<!-- wp:group {"style":{"spacing":{"margin":{"top":"3em","bottom":"0px"}},"dimensions":{"minHeight":"100vh"}},"layout":{"type":"constrained","wideSize":"720px","contentSize":""}} -->
<div class="wp-block-group" style="min-height:100vh;margin-top:3em;margin-bottom:0px">
    <!-- wp:template-part {"slug":"header","tagName":"header"} /-->

    <!-- wp:social-links {"openInNewTab":true,"size":"has-normal-icon-size","className":"is-style-default","layout":{"type":"flex","justifyContent":"center"}} -->
    <ul class="wp-block-social-links has-normal-icon-size is-style-default">
        <!-- wp:social-link {"url":"#","service":"instagram"} /-->

        <!-- wp:social-link {"url":"#","service":"facebook"} /-->

        <!-- wp:social-link {"url":"#","service":"x"} /-->

        <!-- wp:social-link {"url":"#","service":"telegram"} /-->

        <!-- wp:social-link {"url":"#","service":"mastodon"} /-->

        <!-- wp:social-link {"url":"#","service":"github"} /-->

        <!-- wp:social-link {"url":"#","service":"threads"} /-->
    </ul>
    <!-- /wp:social-links -->

    <!-- wp:pattern {"slug":"linkhub/square-three-column-gallery-grid"} /-->

    <!-- wp:pattern {"slug":"linkhub/tall-three-column-gallery-grid"} /-->

    <!-- wp:pattern {"slug":"linkhub/buttons"} /-->

    <!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
</div>
<!-- /wp:group -->